/*------- Global Reset ------ */

@import "inman_css_reset.css";

/*------- Body Styles -------*/

body {
  background: #fff;
  font: 100% #000 Arial, Tahoma, Verdana, "Arial Narrow", "Trebuchet MS", sans-serif;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 25px;
 }

 img,
 embed,
 object,
 video {
 	  width: 100%;
 }

 /*------- FONT TREATMENTS ------*/

h1{
  font: 2.75em/2.8125 "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;    /* 44px / 45px / */ 
}

h2{
  font: 2.25em/2.3125  "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;     /* 36px / 37px / */
}

h3{
  font: 2.125em/2.1875 "Passion One", "Arial Black", Tahoma, Verdana, Sans-serif;       /* 34px / 35px / */
}

h4{
  font: 1.375em/1.4375 "Archivo Black", "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;    /* 22px / 23px / */
}

h5{
  font: 1.25em/1.375 "Arial Black", "Passion One", "Arial Black", Tahoma, sans-serif;		/* 20px / 22px / */
}

h6{
  font: .875em/.9375 "Arial Black", Tahoma, "Trebuchet MS", sans-serif;		/* 14px / 15px */
}

p{
  font: .875em/1.125 Arial, Tahoma, "Trebuchet MS", sans-serif;		/* 14px / 16px / */
}

p span{
  font: 1em #666666 Futura, "Arial Black", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}

p + p { margin-top: 1em; }

#hunt-racing{
	font: 1em/1.0625 "Racing Sans One", "Passion One", "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;	/* 17x / 18px / */
}

/*-------  HEADER TREATMENTS ------- */

header{
  	width: 100%; /*960*/
  	height: 265px;
    background: #000;
   	color: #fff;
   	margin-top: 25px;
   	/*margin: 0 15px; */
   	/*overflow: hidden;*/
   	float: left;
  	clear: right;
}

.header-wrapper{
  display: block;
	width: 99.79166667%; /*958px*/
	height: 150px;
  /*padding-left: 1.04384134%; 10px*
  padding-right: 1.04384134%;*/
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  border-radius: 4px;
	float: left;
	clear: right;
}

.logo {
  /*display: block;*/
	width: 48.01670146%; /* 460px / 958px*/
	margin-top: -45px; /* -25px */
	margin-right: .52192067%; /*5px / 958px */
  margin-left: .52192067%; /*5px / 958px */
	/*padding: 10px 10px 0 10px; /* 10 10 0 10 */
	float: left;
	clear: right;
}

.header-text-one{
	width: 25.05219207%; /*240px / 958px*/
	font-weight: bold;
  color: #fff;
	line-height: 100%;
	word-spacing: -.1em;
	text-transform: uppercase;
	text-shadow: -2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=2); 
	margin-top: -22px;
	float: left;
	clear: right;
}

.header-text h6{
	width: 23.88726514%; /*248px / 958px*/
	text-align: right;
	margin-top: 3px;
	float:  left;
	clear: right;
}

.header-text-two{
	width: 50.9394572%; /*488 / 958*/
	line-height: 100%;
	/*word-spacing: .1em;*/
	text-transform: uppercase;
	text-shadow: -2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=2); 
	margin-top: -5px;
	float: left;
	clear: right;
}

.header-text-three{
	width: 50.9394572%;
	font-size: 3.5em;
	font-family: "Titillium Web", "Racing Sans One", "Arial Black";
  color: #b70057;
	line-height: 100%;
  text-align: center;
	text-transform: uppercase;
	text-shadow: -2px -1px 4px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=-3); 
	/*padding-left: 25px;
	margin-right: 0px;*/
	/*margin-top: 6px;*/
	float: left;
	clear: right;
}

.nav-wrapper{
	display:  block;
	width: 100%;
	margin-top: 75px;
	float: left;
	clear: right;
}

.nav {
  position: relative;
  margin-top: 0px;
  margin-bottom: 45px;
}

.nav ul {
  text-align: center;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding-right: 5px;
  margin-left: 10px;
}

.nav li {
  margin: 0 10px 0px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.nav a {
  background: #d64100;
  margin: 0px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 5px 10px 5px;
  font: bold 1em Futura, Nosifer, "Arial Black", sans-serif;
  text-shadow: -2px -2px 1px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=-2); 
  line-height: 100%;
  color: #fff;
  font-variant: small-caps;
  background: -moz-linear-gradient(
    top,
    #e3750e 0%,
    #b65008 43%,
    #962e05 59%,
    #851d03 62%,
    #613d00);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#e3750e),
    color-stop(0.43, #b65008),
    color-stop(0.59, #962e05),
    color-stop(0.62, #851d03),
    to(#613d00));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 5px 5px 7px rgba(224,134,0,0.5);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 5px 5px 7px rgba(224,134,0,0.5);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 5px 5px 7px rgba(224,134,0,0.5);
  text-shadow:
    0px -1px 3px rgba(255,255,255,0.8),
    0px 1px 0px rgba(255,255,255,0.3);
}

.nav a{
  text-shadow: -1px 2px 1px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=2); 
}

.nav .hover a{
  background: #000;
  margin: 0px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 5px 10px 5px;
  font: bold 1em Futura, Nosifer, "Arial Black", sans-serif;
  line-height: 100%;
  color: #fff;
  font-variant: small-caps;
}

.nav .current a {
  background: #e8e8e8;
  color: #ff8000;
  border: 1px solid #666;
  border-radius: 5px 5px;
}

/*------- START MAIN BODY CONTENT -------*/

.main-body h1, h2, h3{
	line-height: 100%;
}

.main-left{
	display: block;
	width: 458px;
	padding: 10px;
	border: 1px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  	border-radius: 4px;
  	margin-right: 20px;
	float: left;
	clear: right;
}

.main-left hgroup{
	width: 100%;
	float: left;
	clear: right;
}

.main-left-text{
	width: 100%;
	margin-top: 30px;
	text-align: justify;
	float: left;
	clear: right;
}

.main-left ul{
	margin: 10px 0;
}

.main-left li{
	text-indent: 40px;
	font: 1.125em/1.375 "Passion One", Arial, Tahoma, "Trebuchet MS", sans-serif;
}

.main-right{
	display: block;
  border: 1px solid #000;
	width: 458px;
	float: left;
	clear: right;
}

#page-banner{
	display: block;
  width: 100%;
	background: #000;
	margin-bottom: 20px;
	padding: 20px 0 20px 0;
 	margin-top: 35px;
	float: left;
	clear: right;
}

#page-banner ul{
	text-align: center;
  	list-style: none;
}

#page-banner li{
    width: 100%;
	  margin-right: 15px;
  	padding-left: 15px;
  	display: inline;
    font: 1.25em Futura, Tahoma, "Trebuchet MS", sans-serif;
  	color: #fff;
  	text-transform: uppercase;
}

.lower-content{
	display: block;
	width: 100%;
	float: left;
	clear: right;	
}

footer{
	width: 100%;
	float: left;
	clear: right;
}




 


