/*------- Global Reset ------ */

@import "inman_css_reset.css";

/*---------  A RESPONSIVE CALCULATOR  --------------*/

* {

-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

-moz-box-sizing: border-box; /* Firefox, other Gecko */

box-sizing: border-box; /* Opera/IE 8+ */

}

/*-------      SITE DESIGN_HEADER    -------*/


/*--------  MEDIA QUIRIES --------*/

body {
  background: #fff;
  font: 100% Arial, Tahoma, Verdana, "Arial Narrow", "Trebuchet MS", sans-serif;
  width: 960px;
  margin: 0 auto;
  padding: 10px 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #888888;
  border-radius: 5px 5px;
}

/*body {background:#000 url('file:///Users/loydphillips/Desktop/WSP-Loyd-Phillips/project/images/hgx_header.jpg') no-repeat center top;}*/


/*-------           FONT STACKS AND TREATMENTS           -------*/

h1{
  font: 2.75em/2.875 "Arial Black", Tahoma, "Trebuchet MS", sans-serif;    /* 44px / 46px / */ 
}

h2{
  font: 2.5em/2.5  "Passion One", Futura, "Arial Narrow", Tahoma, Verdana, sans-serif;     /* 38px / 40px / */
}

h3{
  font: bold 2em/2.125 Arial, Tahome, Verdana, Sans-serif;       /* 32px / 34px / */
}

h4{
  font: 2em/2.125 "Passion One", Tahoma, "Trebuchet MS", sans-serif;    /* 26px / 30px / */
}

h5{
  font: 1.75em/1.875 "Passion One", Futura, Tahoma, sans-serif;          /* 20px / 22px / */
}

h6{
  font: bold 1.125em/1.25 "Arial Black", "Arial Narrow", Tahoma, "Trebuchet MS", sans-serif;        /* 16px / 18px */
}

p{
  font: .875em/1.25 Arial, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;         /* 14px / 20px / */
}

/*------      UNIVERSAL LINKS      ------*/

/*.nav a:link {color:#f98000;}      unvisited link */
/*.nav a:visited {color:#cccccc;}  /* visited link */
/*.nav a:hover {color:#FF00FF;}  /* mouse over link */
/*.nav a:active {color:#0000FF;}  /* selected link */ 

/*-------     Header Style  --------*/

#main_header .clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

header {
  width: 100%;
  height: 200px;
  color: #000;
  margin-bottom: 35px;
  padding: 0px 0px;
  /*overflow: hidden;*/
  border-bottom: 1px dashed #000;
  float: left;
  clear: right;
}

header a{
  text-decoration: underline;
  font-weight: bold;
}

#logo{
  width: 470px;
  background-size: 460px 190px;
  margin-right: 20px;
  padding-top: 20px;
  float: left;
  clear: right;
}

.header_text{
  width: 470px;
  padding-top: 13px;
  float: left;
  clear: right;
}

#vinyl{
  display: inline-block;
  width: 155px;
  font: 2.75em/2.875 "Arial Black", Tahoma, "Trebuchet MS", sans-serif;
  line-height: 100%;
  letter-spacing: .005em;
  margin-right: 10px;
  float: left;
  clear: right;
}

#small_caps_and{
  display: inline-block;
  width: 75px;
  font: bold 1.125em/1.25 "Arial Black", "Arial Narrow", Tahoma, "Trebuchet MS", sans-serif;        /* 16px / 18px */
  line-height: 100%;
  font-size: 30px;
  letter-spacing: .0015em;
  font-weight: bold;
  padding-top: 13px;
  margin-right: 10px;
  float: left;
  clear: right;
}

header .a_division_of{
  display: inline-block;
  width: 217px;
  font: .875em/1.25 Arial, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;         /* 14px / 20px / */
  line-height: 100%;
  text-align: right;
  font-weight: bold;
  padding-top: 26px;
  float: left;
  clear: right;
}

#graphics_text{
  display: block;
  font: 2.75em/2.875 "Arial Black", Tahoma, "Trebuchet MS", sans-serif;    /* 44px / 46px / */ 
  letter-spacing: .0015em;
  line-height: 100%;
  text-align: left;
  margin-bottom: 5px;
  float: left;
  clear: right;
}

.tagline_image{
  width: 468px;
  height: 60px;
  border: 1px solid #000;
  float: left;
  clear: right;
}

/*-------       NAVIGATION WRAPPER      ---------*/

#navigation{
  /*border: 1px solid #000;*/
  width: 100%;
  float: left;
  clear: right;
}

#navigation .clearfix:after { 
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.nav {
  position: relative;
  margin-top: 0px;
  margin-bottom: 35px;
}

.nav ul {
  text-align: center;
  list-style: none;
  width: 920px;
  margin: 0 auto;
  padding-right: 7px;
  margin-left: 27px;
}

.nav li {
  margin: 0 15px 0px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.nav a {
  /*width: 100px;*/
  background: #000;
  font: 1em Futura, "Arial Black", sans-serif;
  color: #F2A90c;
  border: 1px solid #000;
  border-radius: 5px 5px;
  padding: 7px 12px 9px 12px;
  text-decoration: none;
  line-height: 100%;
}

.nav a:hover{
  background: #f80000;
  margin: 0px;
  padding: 5px 5px 10px 5px;
  font: 1.25em "Racing Sans One", Nosifer, "Arial Black", sans-serif;
  color: #fff;
  font-variant: small-caps;
}

.nav .current a {
  background: #e8e8e8;
  color: #ff8000;
  border: 1px solid #666;
  border-radius: 5px 5px;
}

/*.navigation_wrapper{
  border: 1px solid #000;
  width: 100%;
  margin-top: 25px;
  clear: right;
}

#navigation{
  width: 100%;    
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

#navigation ul{
  list-style: none;
  width: 815px;
  margin: 0 auto;
  padding: 0;
}

#navigation li{
  float: left;
}

#navigation li a{  
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}

#navigation li:first-child a{
  border-left: 1px solid #ccc;
}

#navigation li a:hover{
  color: #c00;
  background-color: #fff;
}


#navigation{
  width: 93.75%;
  margin-top: 25px;
  position: relative;
  float: left;
  clear: right;
}

nav ul li a{
  font: small-caps bold 1.375%/1.375 Futura, "Aria Narrow" Impact, Arial, Tahome, sans-serif;
}

#navigation ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

#navigation li{
  text-align: center;
  float:left;
}

#navigation a{
  font: small-caps bold 1.375%/1.375 Futura, "Aria Narrow" Impact, Arial, Tahome, sans-serif;
  display: block;
  width: 125px;
  background-color: #dddddd;
  padding: 5px;
  margin: 15px;
}

#navigation .clearfix{
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}*/

/*-------       CTA BANNER UPPER AREA      ---------*/

/*#cta_banner{
  width: 100%;
  text-align: center*/

/*-------       BODY BOXES LEFT AND RIGHT      ---------*/

#body_box .clearfix:after{ 
  content: ".";
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

#body_boxes{
  margin: 0px 10px 30px 10px;
  float: left;
  clear: right;
}

/*-------       BODY BOXES LEFT      ---------*/

#body_box_left{
  width: 460px;
  margin-right: 20px;
  float: left;
  clear: right;
}

#body_box_left h1{
  line-height: 100%
}

#body_box_left h2{
  line-height: 100%
}

/*-------       BODY BOXES RIGHT      ---------*/


#body_box_right{
  width: 460px;
  float: left;
  clear: right;
}

#body_box_right h5{
  font: 1.75em/1.875 "Passion One", Futura, Tahoma, sans-serif; 
  line-height: 100%
}

#body_box_right h6{
  font: bold 1.125em/1.25 "Arial Black", "Arial Narrow", Tahoma, "Trebuchet MS", sans-serif;
  line-height: 100%
}

#featured_groupings{

}

.and_body_box_right{
  font: bold 1.125em/1.25 "Arial Black", "Arial Narrow", Tahoma, "Trebuchet MS", sans-serif;
}

/*---------      LOWER BANNER OFF ROAD SPORTS VEHICLES    -------*/

#lower_banner{
  width: 100%;
  text-align: center;
  margin-top: 25px;
  float: left;
  clear: right;

}

/*---------      LOWER BODY COMPONENTS    -------*/

#lower_body_wrapper{
  margin: 0px 10px;
  float: left;
}

#lower_body_image_left{
  border: 1px solid #000;
  width: 458px;
  margin-right: 20px;
  margin-top: 3px;
  float: left;
  clear: right;
}

#lower_body_image_right{
  width: 460px;
  float: left;
  clear: right;
}

#lower_body_image_right h5{
  line-height: 100%
}



/*---------      FOOTER STYLING         --------------*/

#footer_wrapper{
    margin: 0px 10px;
}

#footer{

}

#company_address{

}

#a_division_of{

}

.footer_images{

}

.privacy_statement{

}

/*---------      BOTTOM LINE STYLING    -------*/

#bottom_line{

}

#secondary_logo{

}



/*#header_text, h1{
  font-size: 89.58333333%;
  line-height: .25%;
  /*letter-spacing: .0015em;
}

#digital{
  float: right;
}

#and_lower_case{
  font: bold 1.5em/1.65 "Arial Black", Futura, "Arial Narrow", Arial, Helvetica, sans-serif;
  padding-top: 4.4%;
  padding-left: 2.17391304%;
  clear: left;
}

#a_division{
  font-size: 11px; 
  font-family: Futura, "Arial Narrow" Arial;
  letter-spacing: .005em;
  padding-top: 30px;
  padding-right: 3px;
  float: right;
}

header img,
#tagline{
  width: 46.875%;
  height: 40px;
  clear: left;
}

nav{
  padding: 0px 10px;
  margin-bottom: 30px;
}

#body_wrapper{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#banner_top{
  max-width: 100%;
  padding: 10px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; 
  background-color: #666;
  margin-bottom: 30px;
  text-align: center;
}

#banner_bottom{
  max-width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; 
  background-color: #666;
  padding: 15px 15px;
  color: #fff;
  text-align: center;
  clear: both;
}

-------*/

/*---- #banner_bottom2{
  max-width: 100%;
  height: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #666;
  padding: 15px 15px;
  color: #fff;
  text-align: center;
  clear: both;
} ------*/

/*------- INDEX
.body_box_left{
  background-color: #999999;
  max-width: 440px;
  padding: 20px 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  float: left;
  clear: left;
}

.body_box_right{
  background-color: #999999;
  width: 450px;
  /*-- padding: 20px 10px; 
  margin-bottom: 30px;
  margin-right: 10px;
  float: left;
  clear: right;
}

.body_box_right h5{
  background-color: #e8e8e8;
  width: 200px;
  height: 100px;
  padding: 10px 0px;
  margin-bottom: 30px;
  float: left;
  clear: left;
}

#custom_graphics{
  background-color: #333;
  width: 240px;
  height: 75px;
  margin-bottom: 10px; 
  margin-left: 10px;
  float: left;
}

.body_box_right a{
  width: 240px;
  margin-bottom: 20px;
  margin-left: 10px;
  float: left;
  clear: right;
}

/*--------- GRAPHICS / WRAPS 

.body_rt_top_image{
  width: 450px;
  height: 200px;
  float: right;
  clear: right;
}

.body_rt_bottom_image{
  width: 450px;
  height: 200px;
  float: left;
  clear: both;
}

/*---- CONTACT PAGE 

.body_box_right_contact{
  background-color: #888888;
  margin-left: 10px;
  float: left;
}

.columns{
  -ms-column-count: 2;
  -moz-column-count: 2;
  -web-column-count: 2;
  -o-column-count: 2;
  -khtml-column-count: 2;
  column-count: 2;  
}

/*----- LOWER BODY STYLE 

#lower_body_content{
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 30px;
}

#lower_body_content img{
  width: 450px;
  height: 215px;
  background-color: #777;
  margin-right: 20px;
  margin-bottom: 30px;
  float: left;
  clear: left;
}

#lower_body_content p{
  width: 450px;
  float: left;
}

#lower_body_content h5{
  width: 450px;
  margin-bottom: 30px;
  float: left;
}

/*-------- FOOTER STYLE   

footer{
  max-width: 100%;
  background-color: #333;
  height: 200px;
  border-top: 1px solid #000;
  padding: 10px;
  color: #fff;
  clear: left;
}

#company_address{
  float: left;
  clear: left;
}

#a_division_of{
  padding-top: 60px;
  margin-left: 20px;
  float: left;
}

#footer_images{
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
  clear: right;
}

footer p{
  width: 100%;
  float: right;
  clear: right;
  font-size: 12px;
}

/*-------- CONTACT PAGE FOOTER 

#contact_footer{
  max-width: 100%;
  margin-top: 30px;
  background-color: #333;
  max-height: 50px;
  border-top: 1px solid #000;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  clear: left;
}

/*-------- SUB FOOTER STYLE 

#sub_footer{
  max-width: 100%;
  background-color: #666;
  height: 25px;
  padding: 7px 10px 0px 10px;
  color: #fff;
  font-size: 12px;
}

#sub_footer p{
  float: left;
  clear: right;
}

#sub_footer h5{
  font-size: 14px;
  float: left;
} -------*/ 

/*--------   MEDIA QUERIES      -------------------*/

