/*------- Global Reset ------ */

@import "inman_css_reset.css";

/*------- Body Styles -------*/

body {
  background: #000;
  font: 100% Arial, Tahoma, Verdana, "Arial Narrow", "Trebuchet MS", sans-serif;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 25px;
 }

 img,
 embed,
 object,
 video {
 	  width: 100%;
 }

 /*------- FONT TREATMENTS ------*/

h1{
  font: 2.75em/2.8125 "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;    /* 44px / 45px / */ 
}

h2{
  font: 2.25em/2.3125  "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;     /* 36px / 37px / */
}

h3{
  font: 2.125em/2.1875 "Passion One", "Arial Black", Tahoma, Verdana, Sans-serif;       /* 34px / 35px / */
}

h4{
  font: 1.375em/1.4375 "Archivo Black", "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;    /* 22px / 23px / */
}

h5{
  font: 1.25em/1.375 "Arial Black", "Passion One", "Arial Black", Tahoma, sans-serif;		/* 20px / 22px / */
}

h6{
  font: .875em/.9375 "Arial Black", Tahoma, "Trebuchet MS", sans-serif;		/* 14px / 15px */
}

p{
  font: .875em/1.125 Arial, Tahoma, "Trebuchet MS", sans-serif;		/* 14px / 16px / */
}

p span{
  font: 1em Futura, "Arial Black", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}

p + p { margin-top: 1em; }

.hunt-racing{
	font: 1em/1.0625 "Racing Sans One", "Passion One", "Arial Black", Tahoma, Arial, "Trebuchet MS", sans-serif;	/* 17x / 18px / */
  color: #f69121;
}

.hunt-racing a{
  color: #9fbc10;
  text-decoration: underline;
}


/*-------  HEADER TREATMENTS ------- */

header{
  	width: 100%; /*960*/
  	height: 265px;
    /*background: #000;*/
   	color: #fff;
   	margin-top: 25px;
   	/*margin: 0 15px; */
   	/*overflow: hidden;*/
   	float: left;
  	clear: right;
}

.header-wrapper{
  display: block;
	width: 99.79166667%; /*958px*/
	height: 150px;
  /*padding-left: 1.04384134%; 10px*
  padding-right: 1.04384134%;*/
	border: 1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  border-radius: 4px;
	float: left;
	clear: right;
}

.header-wrapper {background:#000 url('http://loydphillips.github.com/WSP-Loyd-Phillips/activities/image_elements/hdr-bg.jpg') no-repeat center top;}


/*.logo {
  /*display: block;*/
	/*width: 48.01670146%; /* 460px / 958px*/
	/*margin-top: -45px; /* -25px */
	/*margin-right: .52192067%; /*5px / 958px */
  /*margin-left: .52192067%; /*5px / 958px */
	/*padding: 10px 10px 0 10px; /* 10 10 0 10 
	float: left;
	clear: right;
}*/

#replace{
  display: block;
  background: url("https://raw.github.com/loydphillips/WSP-Loyd-Phillips/gh-pages/activities/image_elements/logo.png") top center no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 48.01670146%; /* 460px / 958px*/
  height: 200px;
  margin-top: -45px; /* -25px */
  margin-right: .52192067%; /*5px / 958px */
  margin-left: .52192067%; /*5px / 958px */
  /*padding: 10px 10px 0 10px; /* 10 10 0 10 */
  float: left;
  clear: right;
}


.header-text-one{
	width: 25.05219207%; /*240px / 958px*/
	font-weight: bold;
  color: #fff;
	line-height: 100%;
	word-spacing: -.1em;
	text-transform: uppercase;
	text-shadow: -2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=2); 
	margin-top: -22px;
	float: left;
	clear: right;
}

.header-text h6{
	width: 23.88726514%; /*248px / 958px*/
	text-align: right;
	margin-top: 3px;
	float:  left;
	clear: right;
}

.header-text-two{
	width: 50.9394572%; /*488 / 958*/
	line-height: 100%;
	/*word-spacing: .1em;*/
	text-transform: uppercase;
	text-shadow: -2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=2); 
	margin-top: -5px;
	float: left;
	clear: right;
}

.header-text-three{
	width: 50.9394572%; /*488 / 958*/
	font-size: 3.5em;
	font-family: "Titillium Web", "Racing Sans One", "Arial Black";
  color: #b70057;
	line-height: 100%;
  text-align: center;
	text-transform: uppercase;
	text-shadow: -2px -1px 4px #000000;
  filter: dropshadow(color=#000000, offx=-2, offy=-3); 
	float: left;
	clear: right;
}

.nav-wrapper{
	display:  block;
	width: 100%;
	margin-top: 45px;
	float: left;
	clear: right;
}

.nav {
  position: relative;
  margin-top: 0px;
}

.nav ul {
  text-align: center;
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.nav li {
  margin: 5px 5px;
  list-style: none;
  display: inline-block;
}

.nav a {
  background: #d64100;
  margin: 0px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 5px;
  font: 1em Futura, Nosifer, "Arial Black", sans-serif;
  line-height: 100%;
  color: #000;
  font-variant: small-caps;
  background: -moz-linear-gradient(
    top,
    #e3750e 0%,
    #b65008 43%,
    #962e05 59%,
    #851d03 62%,
    #da5200);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#e3750e),
    color-stop(0.43, #b65008),
    color-stop(0.59, #962e05),
    color-stop(0.62, #da5200),
    to(#613d00));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

.nav a:visited{
  padding: 10px 5px;
  font: .875em "Arial Black", Futura, "Arial Black", Tahoma, Arial, sans-serif;
  line-height: 100%;
  color: #000;
  font-variant: small-caps;
}

.nav a:hover{
  background: #000;
  padding: 10px 5px;
  font: 1em Futura, Nosifer, "Arial Black", sans-serif;
  line-height: 100%;
  color: #ccc;
  font-variant: small-caps;
}

.nav a:active{
  background: #000;
  padding: 10px 5px;
  font: .875em "Arial Black", Futura, "Arial Black", Tahoma, Arial, sans-serif;
  line-height: 100%;
  color: #ff8000;
  font-variant: small-caps;
}

/*------- START MAIN BODY CONTENT -------*/

.main-body h1, h2, h3{
	line-height: 100%;
}

.main-left{
	display: block;
	width: 446px;
  color: #fff;
	padding: 10px;
	border: 1px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  border-radius: 4px;
  margin-right: 20px;
	float: left;
	clear: right;
}

.main-left hgroup{
	width: 100%;
	float: left;
	clear: right;
}

.main-left p span{
  font: .875em "Arial Black", Futura, Arial, sans-serif;
  color: #fd9425;
}

.main-left-text{
	width: 100%;
	margin-top: 30px;
	text-align: justify;
	float: left;
	clear: right;
}

.home-list{
	margin: 10px 0;
}

.home-list li{
	text-indent: 135px;
	font: 1.125em/1.375 "Passion One", Arial, Tahoma, "Trebuchet MS", sans-serif;
}

.contact-list{

}

.main-right{
	display: block;
  width: 470px;
  color: #fff;
  float: left;
  clear: right;
}

.main-right ul{
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap : 20px;
       -moz-column-rule-color:  #ccc;
       -moz-column-rule-style:  solid;
       -moz-column-rule-width:  1px;
       -webkit-column-rule-color:  #ccc;
       -webkit-column-rule-style: solid ;
       -webkit-column-rule-width:  1px;
}

#main-image-home{
  display: block;
  width: 470px;
  height: 225px;
  float: left;
  clear: right;
}

#main-image-home{background:#000 url('http://loydphillips.github.com/WSP-Loyd-Phillips/activities/image_elements/kawasaki.jpg') no-repeat center top;}

button.css3button {
  display: block;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 15px;
  color: #ff0000;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #000000 0%,
    #707070 50%,
    #787878 50%,
    #242424 75%,
    #000000);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#000000),
    color-stop(0.50, #707070),
    color-stop(0.50, #787878),
    color-stop(0.75, #242424),
    to(#000000));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 25px;
  border: 1px solid #666;
 /* -moz-box-shadow:
    3px 1px 3px rgba(255,255,255,0.5),
    inset 0px 0px 3px rgba(255,255,255,1);
  -webkit-box-shadow:
    3px 1px 3px rgba(255,255,255,0.5),
    inset 0px 0px 3px rgba(255,255,255,1);
  box-shadow:
    3px 1px 3px rgba(255,255,255,0.5),
    inset 0px 0px 3px rgba(255,255,255,1);*/
  text-shadow:
    -2px -1px 1px rgba(000,000,000,0.1),
    1px 2px 0px rgba(0,0,0,1);
    float: left;
    clear: right;
}

#shophgx-image-home {
  display: block;
  width: 300px;
  height: 200px;
  float: right;
  clear: right;
}

#shophgx-image-home{background:#000 url('http://loydphillips.github.com/WSP-Loyd-Phillips/activities/image_elements/shop_hgx_image.jpg') no-repeat center top;}

#arrow-image {
  display: block;
  width: 200px;
  height: 130px;
  float: left;
  clear: right;
}

#arrow-image {background:#000 url('http://loydphillips.github.com/WSP-Loyd-Phillips/activities/image_elements/arrow_wraps_support_image.jpg') no-repeat center top;}

.main-right a{
color: #9fbc10;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    width:100%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}
  
#contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#991D57;
    background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

#page-banner{
	display: block;
  width: 100%;
	background: #ccc;
	margin-bottom: 20px;
	padding: 15px 0 15px 0;
 	margin-top: 35px;
	float: left;
	clear: right;
}

#page-banner ul{
	text-align: center;
  	list-style: none;
}

#page-banner li{
    width: 100%;
	  margin-right: 10px;
  	padding-left: 10px;
  	display: inline;
    font: bold 1.25em Futura, Tahoma, "Trebuchet MS", sans-serif;
  	color: #ee4206;
    text-shadow: 1px 2px 1px #000000;
    filter: dropshadow(color=#000000, offx= 0, offy=-3); 
  	text-transform: uppercase;
}

.lower-content{
	display: block;
	width: 100%;
  color: #fff;
	float: left;
	clear: right;	
}

footer{
	width: 100%;
  color: #fff;
	float: left;
	clear: right;
}


