/*------- Global Reset ------ */

@import "inman_css_reset.css";

/*------ Body Style -------------------------------------*/

body{
	font: 100%/1.250 Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid #000;
	border-radius: 5px;
}

#main_content_wrapper{
	background-color: #bc3a00;
	padding: 10px 5px 10px 5px;
}

/*------ Header Style -------------------------------------*/

header{
	background-color: #bc3a00;
	height: 170px;
	width: 100%;
}

header img{
	height: 140px;
	margin-left: 207px;
	margin-top: 15px;
}

#sub_header{
	background-color: #000;
	height: 50px;
	clear: both;
}

#sub_header h1{
	font: small-caps 2em Arial, Helvetica, sans-serif;
	line-height: 100%;
	color: #fff;
	padding: 8px 0px 0px 297px;
	margin-bottom: 10px;
}

/*------ Font Information ---------------------------*/

h1{
	font: 2em/2.5 Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
}

h3{
	font: small-caps bold 1.45em/1.75 "Arial Black", Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
}

h5{
	font: bold 1.50em/1.5 Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
}

p{
	font: 1em/1.5 Helvetica, Corbel, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;
	font-color: #000;
}

/*------ Section Styling --------------------------------*/

.section_25{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 5px 0px 20px 0px;
	padding: 15px 10px 10px 10px;
	text-align: justify;
}

.section{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	padding: 15px 10px 10px 10px;
	text-align: justify;
}

.section h5{
	text-decoration: underline;
}

/*------ Drop Cap Information ---------------*/

p.introduction:first-letter {
 font-size : 375%;
 float : left;
 width : 1em;
 color : #bc3a00;
 text-shadow: 1px 2px #444;
 }

/*------ Title Borders Bottom & Right -----------------*/

.bottom_right_border{
	background-color: #fff;
	border-bottom: 2px solid #bc3a00;
	border-right: 2px solid #bc3a00;
	border-bottom-right-radius: 5px;
	width: 30%;
	margin: 0px 10px 0px 0px;
	float: left;
	font-weight: bold;
}

/*------ Columns Under Sections -------------*/

#columns{
	-ms-column-count: 3;
	-moz-column-count: 3;
	-web-column-count: 3;
	-o-column-count: 3;
	-khtml-column-count: 3;
	column-count: 3;	
}

/*------ Footer Styling --------------------*/

footer{
	background-color: #bc3a00;
	height: 25px;
	font: .75em/1 Helvetica, Arial, sans-serif;
	color: #fff;
	text-align: center;
	padding: 5px 0px 5px 0px;
}


/*------ Single-direction drop shadow --------------------*/

hr.style-four {
	height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

/* List Styles --------------------------------*/

ul{
	font: .90em/1.55 Arial, "Century Gothic", "Sans Serif";
	list-style-type: circle;
	padding-left: 15px;
	margin: 0px 0px 0px 0px;
}

/*------ Links Styling ---------------------*/


a:link {text-decoration: underline; color:#bc3a00;}      /* unvisited link */
a:visited {color:#800000;} 	 /* visited link */
a:hover {font-weight: bold; color:#bc3a00;}  	 /* mouse over link */
a:active {color:#550202;}  	 /* selected link */ 







